<mat-toolbar color="primary">
  <span>MTG DeckTech</span>
  <span class="fill-space"></span>
  <button mat-button [matMenuTriggerFor]="profileMenu" *ngIf="auth.loggedIn">
    <mat-icon>account_box</mat-icon>
  </button>
  <mat-menu #profileMenu>
    <button mat-menu-item (click)="openDialogManageTags()">
      <mat-icon>label</mat-icon>
      Manage Tags
    </button>
    <button mat-menu-item (click)="auth.logout()" *ngIf="auth.loggedIn">
      <mat-icon>exit_to_app</mat-icon>
      Logout
    </button>
  </mat-menu>
</mat-toolbar>
