<mat-accordion>
  <mat-expansion-panel [expanded]="accordionStep === 'input'" (opened)="open('input')">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Decklist
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-form-field>
      <textarea matInput [(ngModel)]="decklist" placeholder="Decklist (Simple Format)" rows="10"></textarea>
    </mat-form-field>
    <mat-action-row>
      <button mat-button color="primary" (click)="submitDecklist()" *ngIf="isTagsCacheReady && isTransformCardsCacheReady">
        <mat-icon>save_alt</mat-icon>
        Submit
      </button>
    </mat-action-row>
  </mat-expansion-panel>
  <mat-expansion-panel [expanded]="accordionStep === 'groups'" (opened)="open('groups')">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Deck Results
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div>
      PLACEHOLDER FOR RESULTS SUMMARY
    </div>
    <div style="text-align: right;">
      <mat-form-field style="max-width: 25%;">
        <mat-label>Group By</mat-label>
        <mat-select [(ngModel)]="groupByMode" (selectionChange)="selectedMode($event)">
          <mat-option *ngFor="let mode of groupByModes" [value]="mode">
            {{mode}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-icon-button color="accent" (click)="refreshGroups()">
        <mat-icon>refresh</mat-icon>
      </button>
    </div>
    <ng-container *ngIf="cardsGrouped.length === 0">
      <ng-container *ngTemplateOutlet="noDataWarning;"></ng-container>
    </ng-container>
    <ng-container *ngIf="cardsGrouped.length > 0">
      <mat-accordion multi="true">
        <mat-expansion-panel *ngFor="let group of cardsGrouped; first as isFirst;" [expanded]="isFirst">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{group[0] | uppercase}} ({{group[2]}})
            </mat-panel-title>
          </mat-expansion-panel-header>
          <table mat-table [dataSource]="group[1]">
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef class="name-col">Name</th>
              <td mat-cell *matCellDef="let element">
                {{element.name}}
                <button mat-icon-button color="accent" (click)="openDialogCardDetails(element)">
                  <mat-icon>zoom_in</mat-icon>
                </button>
              </td>
            </ng-container>
            <ng-container matColumnDef="count">
              <th mat-header-cell *matHeaderCellDef class="count-col">#</th>
              <td mat-cell *matCellDef="let element">{{element.count}}</td>
            </ng-container>
            <ng-container matColumnDef="tags">
              <th mat-header-cell *matHeaderCellDef class="tags-col">Tags</th>
              <td mat-cell *matCellDef="let element">
                <button mat-raised-button color="primary" (click)="openDialogAddTag(element)">
                  Add
                </button>
                <ng-container *ngIf="element.CardTagLinks">
                  <ng-container *ngFor="let link of element.CardTagLinks">
                    <button *ngIf="link && link.TagName" mat-raised-button color="warn" (click)="removeCardTagLink(link)">
                      {{link.TagName}}
                    </button>
                  </ng-container>
                </ng-container>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="['count', 'name', 'tags']"></tr>
            <tr mat-row *matRowDef="let row; columns: ['count', 'name', 'tags'];"></tr>
          </table>
        </mat-expansion-panel>
      </mat-accordion>
    </ng-container>
    <mat-action-row>
      <button mat-button color="accent" (click)="refreshGroups()">
        <mat-icon>refresh</mat-icon>
        Refresh
      </button>
    </mat-action-row>
  </mat-expansion-panel>
  <mat-expansion-panel [expanded]="accordionStep === 'stats'" (opened)="open('stats')">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Charts
      </mat-panel-title>
    </mat-expansion-panel-header>
    <ng-container *ngIf="!chartCMCCurve">
      <ng-container *ngTemplateOutlet="noDataWarning;"></ng-container>
    </ng-container>
    <div class="container">
      <div class="row">
        <div class="col-md" *ngIf="chartCMCCurve">
          <app-chart-cmc [model]="chartCMCCurve"></app-chart-cmc>
        </div>
        <div class="col-md" *ngIf="chartColorPie">
          <app-chart-color-pie [model]="chartColorPie"></app-chart-color-pie>
        </div>
      </div>
    </div>
  </mat-expansion-panel>
  <mat-expansion-panel [expanded]="accordionStep === 'messages'" (opened)="open('messages')">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Log Messages
      </mat-panel-title>
    </mat-expansion-panel-header>
    <app-messages></app-messages>
  </mat-expansion-panel>
</mat-accordion>
<ng-template #noDataWarning>
  <p>No data, please submit a decklist first.</p>
</ng-template>
