// this must be placed in the component styles
.mat-expansion-panel-header-description {
  text-align: right;
  flex: 0 0 auto;
}

.clickable {
  cursor: pointer;

  &:hover {
    border-bottom: 1px dotted;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 100%;
  }
}

.spinner-wrapper {
  position: fixed;

  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background-color: rgba(25, 25, 25, 0.5);

  z-index: 10000;

  .mat-progress-spinner {
    margin: 40% auto;
  }
}
