<mat-accordion>
  <mat-expansion-panel [expanded]="accordionStep === 'input'" (opened)="open('input')">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Input Decklist
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-form-field style="min-width: 50%;">
      <textarea matInput [(ngModel)]="decklist" placeholder="Decklist (Simple Format)" rows="10"></textarea>
    </mat-form-field>
    <mat-action-row>
      <button mat-raised-button color="primary" (click)="submitDecklist()">Submit</button>
    </mat-action-row>
  </mat-expansion-panel>
  <mat-expansion-panel [expanded]="accordionStep === 'groups'" (opened)="open('groups')">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Grouped
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div>
      <mat-form-field style="min-width: 25%;">
        <mat-label>Group By</mat-label>
        <mat-select [(ngModel)]="groupByMode" (selectionChange)="selectedMode($event)">
          <mat-option *ngFor="let mode of groupByModes" [value]="mode">
            {{mode}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-icon-button color="accent" (click)="refreshGroups()">
        <mat-icon>refresh</mat-icon>
      </button>
    </div>
    <p *ngIf="cardsGrouped.length === 0">
      No data, please submit a decklist first.
    </p>
    <ng-container *ngIf="cardsGrouped.length > 0">
      <div *ngFor="let group of cardsGrouped">
        <h2>{{group[0] | uppercase}} ({{group[2]}})</h2>
        <table mat-table [dataSource]="group[1]">
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef class="name-col">Name</th>
            <td mat-cell *matCellDef="let element">
              {{element.name}}
              <button mat-icon-button color="accent" (click)="openDialogCardDetails(element)">
                <mat-icon>zoom_in</mat-icon>
              </button>
            </td>
          </ng-container>
          <ng-container matColumnDef="count">
            <th mat-header-cell *matHeaderCellDef class="count-col">#</th>
            <td mat-cell *matCellDef="let element">{{element.count}}</td>
          </ng-container>
          <ng-container matColumnDef="tags">
            <th mat-header-cell *matHeaderCellDef class="tags-col">Tags</th>
            <td mat-cell *matCellDef="let element">
              <button mat-raised-button color="primary" (click)="openDialogAddTag(element)">
                Add
              </button>
              <ng-container *ngIf="element.CardTagLinks">
                <ng-container *ngFor="let link of element.CardTagLinks">
                  <button *ngIf="link && link.Tag" mat-raised-button color="warn" (click)="removeCardTagLink(link)">
                    {{link.Tag.name}}
                  </button>
                </ng-container>
              </ng-container>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="['count', 'name', 'tags']"></tr>
          <tr mat-row *matRowDef="let row; columns: ['count', 'name', 'tags'];"></tr>
        </table>
      </div>
    </ng-container>
    <mat-action-row>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
