<ng-container *ngIf="isProgressSpinnerActive">
  <div class="spinner-wrapper">
    <fa-icon [icon]="faSpinner" [fixedWidth]="true" [pulse]="true"></fa-icon>
  </div>
</ng-container>
<mat-accordion>
  <mat-expansion-panel [expanded]="accordionStep === 'input'" (opened)="open('input')">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <fa-icon [icon]="faList"></fa-icon>
        &nbsp;
        Decklist
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-form-field>
      <textarea matInput [(ngModel)]="decklist" (focus)="$event.target.select()" placeholder="Decklist (Simple Format)" rows="10"></textarea>
    </mat-form-field>
    <mat-action-row>
      <button mat-button color="accent" (click)="submitDecklist()">
        <fa-icon [icon]="faTasks"></fa-icon>
        &nbsp;
        Submit
      </button>
    </mat-action-row>
  </mat-expansion-panel>
  <mat-expansion-panel [expanded]="accordionStep === 'groups'" (opened)="open('groups')">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <fa-icon [icon]="faTags"></fa-icon>
        &nbsp;
        Deck Results
      </mat-panel-title>
      <mat-panel-description>
        {{countTotalCards()}} total, {{countUniqueCards()}} unique
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div align="end">
      <mat-form-field style="max-width: 300px;">
        <mat-label>Group By</mat-label>
        <mat-select [(ngModel)]="groupByMode" (selectionChange)="selectedMode($event)">
          <mat-option *ngFor="let mode of groupByModes" [value]="mode">
            {{mode}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-icon-button color="accent" (click)="refreshGroups()">
        <fa-icon [icon]="faSync"></fa-icon>
      </button>
    </div>
    <ng-container *ngIf="!isDecklistReady || cardsGrouped.length === 0">
      <ng-container *ngTemplateOutlet="noDataWarning;"></ng-container>
    </ng-container>
    <ng-container *ngIf="isDecklistReady && cardsGrouped.length > 0">
      <mat-accordion multi="true">
        <mat-expansion-panel *ngFor="let group of cardsGrouped; first as isFirst;" [expanded]="isFirst">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{group.key | uppercase}} ({{group.count}})
            </mat-panel-title>
          </mat-expansion-panel-header>
          <table mat-table [dataSource]="group.cards">
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef class="name-col">Name</th>
              <td mat-cell *matCellDef="let element" class="name-col">
                <span class="clickable" (click)="openDialogCardDetails(element)">{{element.name}}</span>
              </td>
            </ng-container>
            <ng-container matColumnDef="count">
              <th mat-header-cell *matHeaderCellDef class="count-col">#</th>
              <td mat-cell *matCellDef="let element">{{element.count}}</td>
            </ng-container>
            <ng-container matColumnDef="tags">
              <th mat-header-cell *matHeaderCellDef class="tags-col">Tags</th>
              <td mat-cell *matCellDef="let element">
                <mat-chip-list>
                  <mat-chip (click)="openDialogAddTag(element)" (keydown.space)="openDialogAddTag(element)" (keydown.enter)="openDialogAddTag(element)" color="accent" selected [selectable]="false">
                    <fa-icon [icon]="faPlus"></fa-icon>
                  </mat-chip>
                  <ng-container *ngIf="element.CardTagLinks">
                    <ng-container *ngFor="let link of element.CardTagLinks">
                      <mat-chip *ngIf="link && link.TagName" color="warn" selected [selectable]="false" (keydown.space)="removeCardTagLink(link)" (keydown.enter)="removeCardTagLink(link)" (removed)="removeCardTagLink(link)">
                        {{link.TagName | titlecase}}
                        <mat-icon matChipRemove>cancel</mat-icon>
                      </mat-chip>
                    </ng-container>
                  </ng-container>
                </mat-chip-list>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="['count', 'name', 'tags']"></tr>
            <tr mat-row *matRowDef="let row; columns: ['count', 'name', 'tags'];"></tr>
          </table>
        </mat-expansion-panel>
      </mat-accordion>
    </ng-container>
    <mat-action-row>
      <button mat-button color="accent" (click)="refreshGroups()">
        <fa-icon [icon]="faSync"></fa-icon>
        &nbsp;
        Refresh
      </button>
    </mat-action-row>
  </mat-expansion-panel>
  <mat-expansion-panel [expanded]="accordionStep === 'charts'" (opened)="open('charts')">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <fa-icon [icon]="faChartBar"></fa-icon>
        &nbsp;
        Charts
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="container">
      <div class="row">
        <div class="col-12" *ngIf="!(isChartCMCCurve || isChartColorPie || isChartTagsRadar)">
          <ng-container *ngTemplateOutlet="noDataWarning;"></ng-container>
        </div>
        <div class="col-lg-4" *ngIf="isChartCMCCurve">
          <app-chart-cmc [model]="chartCMCCurve"></app-chart-cmc>
        </div>
        <div class="col-lg-4" *ngIf="isChartColorPie">
          <app-chart-color-pie [model]="chartColorPie"></app-chart-color-pie>
        </div>
        <div class="col-lg-4" *ngIf="isChartTagsRadar">
          <app-chart-tags [model]="chartTagsRadar"></app-chart-tags>
        </div>
      </div>
    </div>
  </mat-expansion-panel>
  <mat-expansion-panel [expanded]="accordionStep === 'stats'" (opened)="open('stats')">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <fa-icon [icon]="faSquareRootAlt"></fa-icon>
        &nbsp;
        Statistics
      </mat-panel-title>
    </mat-expansion-panel-header>
    <ng-container *ngIf="!isDecklistReady || cardsGrouped.length === 0">
      <ng-container *ngTemplateOutlet="noDataWarning;"></ng-container>
    </ng-container>
    <ng-container *ngIf="isDecklistReady">
      <app-stats-calculator [model]="deck" #statsCalculator></app-stats-calculator>
    </ng-container>
  </mat-expansion-panel>
  <mat-expansion-panel [expanded]="accordionStep === 'messages'" (opened)="open('messages')">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <fa-icon [icon]="faComment"></fa-icon>
        &nbsp;
        Log Messages
      </mat-panel-title>
    </mat-expansion-panel-header>
    <app-messages></app-messages>
  </mat-expansion-panel>
</mat-accordion>
<ng-template #noDataWarning>
  <p>No data, please submit a decklist first.</p>
</ng-template>
