<h2 mat-dialog-title>Add Tag</h2>
<mat-dialog-content>
  <mat-form-field>
    <input type="text" matInput [formControl]="tagInput" [matAutocomplete]="auto" (keydown.enter)="onKeyEnter()">
  </mat-form-field>
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onOptionSelected($event)">
    <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
      {{option}}
    </mat-option>
  </mat-autocomplete>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button color="accent" (click)="close(true)">
    Save
  </button>
  <button mat-button color="warn" (click)="close()">
    Cancel
  </button>
</mat-dialog-actions>
