@import "theme-slate.css";

html,
body {
  height: 100%;
  background-color: #eee;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

button.mat-button {
  padding: 0 8px;
}

mat-action-row {
  display: flex;
  padding: 8px !important;
}

.flex-fill {
  flex: 1 1 auto;
}

.mat-form-field-label-wrapper {
  text-transform: capitalize;
}

mat-form-field {
  width: 100%;

  textarea::-webkit-scrollbar {
    display: none;
  }
}

table {
  width: 100%;

  .name-col {
    width: 200px;
  }

  td.name-col {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .tags-col,
  .text-col {
    //use up remainder
  }

  .timestamp-col,
  .level-col {
    width: 80px;
  }

  .count-col,
  .actions-col {
    width: 60px;
  }

  button.mat-button-base {
    margin-right: 8px;
  }
}

.chart {
  height: 400px;
}
