@import "theme.css";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

button.mat-button {
  padding: 0 8px;
}

.flex-fill {
  flex: 1 1 auto;
}

.mat-form-field-label-wrapper {
  text-transform: capitalize;
}

mat-form-field {
  width: 100%;

  textarea::-webkit-scrollbar {
    display: none;
  }
}

table {
  width: 100%;

  .name-col {
    width: 50%;
  }

  .message-col {
    width: 50%;
  }

  .count-col {
    width: 5%;
  }

  .actions-col,
  .level-col {
    width: 10%;
  }

  button.mat-button-base {
    margin-right: 8px;
  }
}
